.planet_namebox{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 1rem 0;
    border-radius: 12px;
    font-size: 1.25rem;
    padding: 0.5rem 0.5rem;
    background-color: #8d98a9;
    opacity: 85%;
    height: 50px;
   
  }

h2{
    color: wheat;
    font-size: 10 px;
}

h1{
    color: cadetblue;
}