/* components/PlanetPicture.css */

.planet__pic {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin: 2rem 15rem;
  border-radius: 50%;
 
  
}

.planet__pic img {
  width: 100%;
  height: auto;
  max-width: 296px;
  max-height: 296px;
  border-radius: 12px;
}
