/* App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App {
  background-image: url("https://cdn.mos.cms.futurecdn.net/2cnKDAMmEsjvQoCynwPkX-1200-80.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
}

.welcome {
  font-size: 48px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.planet_info {
  padding: 20px;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nextOperator {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.nextOperator:hover {
  transform: translateX(-50%) scale(1.1);
}

.nextOperator img {
  height: 50px;
}

.planetPicContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.planetPicContainer img {
  width: 296px;
  height: 296px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px;
  transition: transform 0.3s ease;
}

.planetPicContainer img:hover {
  transform: scale(1.1);
}